<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 홈</title>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body, h1, h2, h3, h4, h5, h6, p, a {
            font-family: 'Noto Sans KR', sans-serif;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .post-time {
            font-size: 0.8rem;  /* 글자 크기를 작게 조절 */
            float: right;      /* 오른쪽으로 배치 */
            margin-right: 10px;/* 오른쪽 마진 추가 (필요에 따라 조절 가능) */
        }
    </style>
</head>

<body>
<div class="container mt-5">
    <!-- Homepage Title -->
    <div class="text-center mb-5">
        <h1>조환희 블로그</h1>
        <p>개발, 일상에 관한 이야기</p>
    </div>


    <% posts.forEach((post, index) => { %>
        <div class="mb-4">
            <h2>
                <a href="/post/<%= post.getTitle() %>">
                    <span class="post-time"><%= post.getFormattedCreatedAt() %></span>
                    <%= post.getTitle() %>
                </a>
            </h2>
            <p class="text-muted"><i><%= post.getDescription() %></i></p>
        </div>
    <% }) %>
</div>

<!-- Optional: jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
